@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans');

$black: #383838;
$grey: #888888;
$pink: #d35266;
$gotham-font: 'Raleway', sans-serif;
$helvetica-font: 'IBM Plex Sans', sans-serif;

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $gotham-font;
}