@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans');

$black: #383838;
$grey: #888888;
$pink: #d35266;
$gotham-font: 'Raleway', sans-serif;
$helvetica-font: 'IBM Plex Sans', sans-serif;

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h5 {
  font-family: $gotham-font;
}

nav,
.search,
.dropdown-menu {
  background-color: $black;
  border: 0;
}

.carousel-img {
  width: 100%;
  height: 80%;
}

.card-title {
  font-size: 1.1rem;
  font-family: $gotham-font;
}

.by-who,
.location,
.card-text,
.buttons-hotads > a,
.footer-description,
.navigation-link > a {
  font-size: 0.8rem;
  font-family: $gotham-font;
}

.all,
optgroup > option {
  font-size: 0.9em;
}

.btn {
  background-color: $pink;
}

.btn-black {
  background-color: $black;
}

.feat-guitar-title {
  font-size: 0.7em;
}

.pink {
  color: $pink;
}

.buttons-hotads {
  display: flex;
  justify-content: space-between;
}

.border-pink {
  border-bottom: 1px solid $pink;
}

.navigation-link {
  list-style: none;
}

.pink-hover {
  color: $black;
  text-decoration: none;
}

.pink-hover:hover {
  color: $pink;
}

.search-box {
  outline: none;

  button {
    font-size: 0.9em;
  }
}

.search-placeholders::placeholder {
  font-size: 0.9em;
  padding: 0;
}

.no-outline:focus {
  outline: none;
}

@media screen and(min-width: 768px) and(max-width: 1200px) {
  
  .search-placeholders::placeholder {
    font-size: 1.3rem;
    padding: 0;
  }

  .results,
  .card-title {
    font-size: 1.7rem;
  }

  .card-text,
  .search-button,
  .date-and-price,
  .footer-description,
  .date-and-price > a {
    font-size: 1.3rem;
  }

  .footer-description {
    text-align: center;
    width: 100%;
  }

  .navigation-title {
    font-size: 1.4rem;
  }

  .navigation-link > a {
    font-size: 1.2rem;
  }

  .footer-data {
    display: grid;
    grid-template-columns: 60% 20% 20%; 
  }

}